db_uri: mongodb://mongodb/open5gs

# AUSF (Authentication Server Function): Responsável pela autenticação dos dispositivos (UEs) na rede.
logger:
  level: info

ausf:
  sbi:
    server:
      - address: 0.0.0.0
        port: 7777
    client:
      nrf:
        - uri: http://nrf:7777

